* {
    bg-col: #1e2122;
    bg-col-light: #282b2c;
    border-col: #282b2c;
    selected-col: #282b2c;
    blue: #85a598;
    fg-col: #d5c3a1;
    fg-col2: #fb4934;
    grey: #665c54;
    width: 600;
}
