* {
    bg-col: #1a1b26;
    bg-col-light: #232433;
    border-col: #232433;
    selected-col: #232433;
    blue: #7AA2F7;
    fg-col: #a9b1d6;
    fg-col2: #F7768E;
    grey: #32344a;
    width: 600;
}
