@import "themes/rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font Mono;
  font-size: 12px;
  min-height: 12px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 2px 10px;
  border-radius: 20px;
  background-color: @base;
}

#workspaces button {
  min-width: 20px;
  padding: 0 3px;
  color: @pine;
}

#workspaces button.persistent {
  color: @text;
}

#workspaces button.empty {
  color: @text;
}

#workspaces button.visible {
  color: @gold;
}

#workspaces button.active {
  color: @rose;
}

#workspaces button.urgent {
  color: @love;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#bluetooth,
#tray {
  padding: 2px 10px;
  border-radius: 20px;
  color: @base;
}

#clock {
  background-color: @rose;
}

#battery {
  background-color: @pine;
}

#battery.charging,
#battery.plugged {
  background-color: @gold;
  color: @base;
}

@keyframes blink {
  to {
    background-color: @text;
    color: @base;
  }
}

#battery.critical:not(.charging) {
  background-color: @love;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @base;
}

#backlight {
  background-color: @foam;
}

#temperature {
  background-color: @iris;
}

#temperature.critical {
  background-color: @love;
}

#cpu {
  background-color: @gold;
}

#memory {
  background-color: @rose;
}

#network {
  background-color: @pine;
}

#network.disconnected {
  background-color: @love;
}

#wireplumber {
  background-color: @foam;
}

#wireplumber.muted {
  background-color: @love;
}

#tray {
  background-color: @base;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @love;
}

#custom-media {
  background-color: @pine;
  min-width: 100px;
}
