@import "themes/kanagawa.css";
* {
  border: none;
  border-radius: 0;
  font-family:
    Symbols Nerd Font Mono,
    FiraCode Nerd Font Mono;
  font-size: 13px;
  min-height: 13px;
}

window#waybar {
  background-color: @background;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 0px 10px;
  border-radius: 0px;
  background-color: transparent;
}

#workspaces button {
  min-width: 24px;
  padding: 0 3px;
  color: @blue;
}

/*#workspaces button.persistent {*/
/*  color: @foreground;*/
/*}*/

#workspaces button.empty {
  color: @foreground;
}

#workspaces button.visible {
  color: @yellow;
}

#workspaces button.active {
  color: @green;
  background-color: @transparent;
  box-shadow: inset 0 -4px @green;
}

#workspaces button.urgent {
  color: @red;
}

#supmap {
  padding: 0px 10px;
  border-radius: 5px;
  background-color: @background;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#bluetooth,
#disk,
#custom-weather,
#custom-pacman,
#tray {
  padding: 0px 8px;
  border-radius: 0px;
  color: @foreground;
  background-color: transparent;
}

#disk {
  color: @cyan_alt;
  box-shadow: inset 0 -4px @cyan_alt;
}

#custom-weather {
  color: @magenta_alt;
  box-shadow: inset 0 -4px @magenta_alt;
}

#custom-pacman {
  color: @blue_alt;
  box-shadow: inset 0 -4px @blue_alt;
}

#clock {
  color: @green_alt;
  box-shadow: inset 0 -4px @green_alt;
}

#battery {
  color: @yellow;
  box-shadow: inset 0 -4px @yellow;
}

#battery.charging,
#battery.plugged {
  color: @yellow;
}

@keyframes blink {
  to {
    box-shadow: inset 0 -4px @yellow;
    color: @yellow;
  }
}

#battery.critical:not(.charging) {
  box-shadow: inset 0 -4px @red;
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @background;
}

#backlight {
  box-shadow: inset 0 -4px @blue;
  color: @blue;
}

#temperature {
  box-shadow: inset 0 -4px @magenta;
  color: @magenta;
}

#temperature.critical {
  box-shadow: inset 0 -4px @red;
  color: @red;
}

#cpu {
  box-shadow: inset 0 -4px @green;
  color: @green;
}

#memory {
  box-shadow: inset 0 -4px @blue;
  color: @blue;
}

#network {
  box-shadow: inset 0 -4px @white;
  color: @white;
}

#network.disconnected {
  box-shadow: inset 0 -4px @red;
  color: @red;
}

#wireplumber {
  box-shadow: inset 0 -4px @cyan;
  color: @cyan;
}

#wireplumber.muted {
  box-shadow: inset 0 -4px @red;
  color: @red;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  box-shadow: inset 0 -4px @red;
}

#custom-media {
  color: @yellow_alt;
  box-shadow: inset 0 -4px @yellow_alt;
  min-width: 100px;
}
