@import "themes/tokyonight.css";

* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font Mono;
    font-size: 14px;
    min-height: 26px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: @foreground;
}

#workspaces button:hover {
    background: transparent;
    color: @yellow;
}

#workspaces button.focused {
    background-color: transparent;
    box-shadow: inset 0 -3px @blue;
    color: @purple;
}

#workspaces button.urgent {
    background-color: transparent;
    color: @red;
}

#workspaces button.active {
    background-color: transparent;
    color: @blue;
}

#workspaces {
    margin: 0 2px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray {
    padding: 0 10px;
    border-radius: 30px;
    color: @background;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @cyan;
}

#battery {
    background-color: @magenta;
}

#battery.charging, #battery.plugged {
    background-color: @yellow;
    color: @background;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @background;
}

#cpu {
    background-color: @green;
}

#memory {
    background-color: @yellow;
}

#backlight {
    background-color: @purple;
}

#network {
    background-color: @teal;
}

#network.disconnected {
    background-color: @red;
}

#wireplumber {
    background-color: @blue;
}

#wireplumber.muted {
    background-color: @red;
}

#temperature {
    background-color: @orange;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#custom-media {
    background-color: @green;
    min-width: 100px;
}
